body{
    background: #fff;
}
.cart{
    margin: 100px 0;
    background-color: #F6F5FA;;
	padding: 60px 0;
    width: 70%;
    margin-left: 100px;
}
.cart-item{
	background-color: #fff;
	border-radius: 10px;
	padding: 15px 20px;
	margin-bottom: 20px;
    width: 80%;
    margin-left: 70px;
}
.fa-minus{
  font-size: 20px;
    border: none;
}
.cart-item img{
    width: 115px;
}
.image img{
    width: 20px;
}
.btn-default{
    background-color: #fff;
}
h5{
    margin-left: 40px;margin-right: 50px; font-size: 20px;
}
h4{
    margin-left: 10px;
    font-size: 20px;
    margin-right: 0px;
}
.term{
    margin-left: 20px;
}
.center{
display: flex;
align-items: center;
justify-content: flex-start;
}
.cart-item .form-control{
	background-color: #F6F5FA;
	border: none;
    width: 70px;
    border-radius: 10px;
    font-weight: 700; 
    font-size: 20px;
}
.top{
    text-align: right;
    margin-left: 500px;
}
.btnclass{
   margin-right: 100px;
}
.newbtn{
    float: right;
    padding: 10px 30px;
	font-size: 19px;
	background-color: #2FBE70;
	border: none;
}